<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block head %}
            <title>{% block title %}Challenge de l'innovation LCL{% endblock %}</title>
        {% endblock %}        
        <meta name="description" content="Challenge de l'innovation LCL">
        <meta name="author" content="Challenge de l'innovation LCL">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        {% block stylesheets %}                        
        {% endblock %}        
    </head>
    <body class="{% block bodyclass %}{% endblock %}" style="margin: 0;padding: 0;">
        {% block body %}{% endblock %}
    </body>
</html>
