<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#DDDDDD">
  <tr>
    <td height="40">
           <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF" height="40">
                <tr>
                    <td width="620" height="40">  
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF" height="40">
                            <tr> 
                                <td width="20" height="40">
                                
                                </td>        
                                  <td width="580" height="40">
                                      
                                    </td>
                                <td width="20" height="40">
                                
                                </td> 
                            </tr>  
                        </table>
                    </td>
                    
            </table>
        </td>  
  </tr>  
  <tr>
        <td>
           <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                <tr>
                    <td width="620">  
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" bgcolor="#FFFFFF">
                            <tr> 
                                <td width="20">
                                
                                </td>        
                                  <td width="580">
                                      <p><font  style="color: #20368b; font: 16px/22px Arial, Helvetica, sans-serif;font-weight: bold; margin-bottom: 12px;">Le comité de pré-sélection</font><br>
                                      <i><font  style="font: 14px/16px Arial, Helvetica, sans-serif;">Challenge de l'innovation, 10 ans LCL</font></i></p>
                                    </td>
                                <td width="20">
                                
                                </td> 
                            </tr>  
                        </table>
                    </td>
                    
            </table>
        </td>        
  </tr>
   <tr>
    <td height="80" bgcolor="#dddddd">
           <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="620" height="80">
                <tr>
                    <td height="80" width="620">  
                        
                    </td>
                    </tr>
            </table>
        </td>  
  </tr>  
</table> 
<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;background-color:#20368b;" bgcolor="#20368b">
            <tr>
                  <td height="16">
                          
                  </td>
            </tr>
</table>
