<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#FFFFFF">
  <tr>
    <td height="60"> </td>
  </tr>
  <tr>
    <td height="8" bgcolor="#B08C36"> </td>
  </tr>
</table>
