<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#FFFFFF">
  <tr>
        <td>
            <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#20368b">
                <tr>
                    <td height="125"></td>
                </tr>
            </table>
        </td>
        <td height="125" width="640">
			<img src="{{ app_front_url }}/images/mailing/head_1.jpg" alt="">
        </td> 
        <td>
            <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#20368b">
                <tr>
                <td height="125"></td>
                </tr>
            </table>
        </td>         
  </tr>
</table>
