<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#DDDDDD">
  <tr>
        <td>
            <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#20368b">
                <tr>
                    <td height="66"></td>
                </tr>
                <tr  bgcolor="#ffffff">
                    <td height="67">
                    </td>
                </tr>
            </table>
        </td>
        <td height="132" width="640">
          <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="640">
                <tr>
                    <td width="26" height="132">
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="26" >
                            <tr bgcolor="#20368b">
                                <td height="65" width="26"></td>
                            </tr>
                            <tr>
                                <td  height="67" width="26">
                                <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;"  width="26">
                                    <tr>
                                        <td width="10" height="67" bgcolor="#DDDDDD">
                                        </td>
                                        <td width="16" height="67" bgcolor="#FFFFFF">
                                        </td>
                                    </tr>
                                </table>
                                </td>
                            </tr>
                        </table>
                     </td>
                     <td width="98" height="132">
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="98">
                            <tr>
                                 <td width="97" bgcolor="#20368b" height="69">
                                    <img src="{{ app_front_url }}/images/mailing/logo-LCL.png" alt=""> 
                                </td>
                            </tr>
                            <tr >
                                <td width="97" height="63" bgcolor="#FFFFFF">
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td width="4" bgcolor="#FFFFFF" height="132">
                        <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#FFFFFF" width="5">
                            <tr>
                                <td height="65" width="5" bgcolor="#20368b"></td>
                            </tr>
                            <tr>
                                <td height="67" width="5" bgcolor="#FFFFFF"></td>
                            </tr>
                        </table>
                    </td>
                    <td width="250" height="132">
                            <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="250">
                                <tr>
                                    <td height="65" bgcolor="#20368b" width="250">
                                        <font face="Arial, Helvetica, sans-serif" size="3" color="#343434" style="color: #fdfdfd; font: 16px/24px Arial, Helvetica, sans-serif;font-weight: bold;">
                                        CHALLENGE DE L'INNOVATION
                                        </font>
                                        </td>
                                </tr>
                                <tr>
                                    <td height="67" width="250" bgcolor="#FFFFFF"></td>
                                </tr>
                            </table>                                    
                    </td>
                    <td width="235" bgcolor="#ffffff" height="132">
                       <img src="{{ app_front_url }}/images/mailing/logo-challenge.png" alt="" width="235" height="132">
                    </td>
                    <td width="26" >
                        <table width="26" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
                            <tr bgcolor="#20368b">
                                <td height="65" width="26"></td>
                            </tr>
                            <tr>
                                <td height="67" width="26">
                                <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" width="26">
                                    <tr>
                                        <td width="16" height="65" bgcolor="#FFFFFF">
                                        </td>
                                        <td width="10" height="67" bgcolor="#DDDDDD">
                                        </td>
                                    </tr>
                                </table>
                                </td>
                            </tr>
                            
                        </table>
                     </td>
                </tr>
            </table>
        </td> 
        <td>
            <table align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bgcolor="#e6e6e6">
                <tr bgcolor="#ffffff">
                <td height="65"></td>
                </tr>
                <tr bgcolor="#20368b">
                    <td height="64"></td>
                </tr>
            </table>
        </td>         
  </tr>
</table>
