<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;" bg-color="#20368b" style="background-color:#20368b;">
    <tr>
        <td>
            <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="margin: auto !important;">
                <tr bgcolor="#20368b">
                    <td height="5"></td>
                            <td></td>
                    <td></td>
                </tr>
                <tr bgcolor="#20368b">
                    <td height="27" width="20"></td>
                            <td align="center">
                                    <font face="Arial, Helvetica, sans-serif" size="3" color="#ffffff" style="color: #ffffff; font: 10px/12px Arial, Helvetica, sans-serif;">
                                    Voeux Koba - {{ titleMail }}<br>
                                    </font>
                                    <font face="Arial, Helvetica, sans-serif" size="3" color="#eaeaea" style="color: #fdfdfd; font: 10px/12px Arial, Helvetica, sans-serif;">
                                    Si cet email ne s'affiche pas correctement, vous pouvez le visualiser <span style="text-decoration: underline"><a href="#LIEN_ONLINE#" style="color: #ffffff;">gr&acirc;ce &agrave; ce lien</a>.</span>
                                    </font>
                            </td>
                    <td width="20"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
