/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../var/lib/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Basic Grey */
/* line 2, ../../../../../sass/sass/_form.scss */
fieldset {
  background: #F7F7F7;
  padding: 25px 15px 25px 10px;
  color: #444;
  text-shadow: 1px 1px 1px #FFF;
  border: 1px solid #E4E4E4;
  margin: 0.5em 0;
}

/* line 10, ../../../../../sass/sass/_form.scss */
fieldset legend {
  font-size: 18px;
  padding: 0px 0px 10px 40px;
  display: block;
  border-bottom: 1px solid #E4E4E4;
  margin: -10px -15px 30px -10px;
  color: #bc9118;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 20, ../../../../../sass/sass/_form.scss */
fieldset h1 > span {
  display: block;
  font-size: 11px;
}

/* line 24, ../../../../../sass/sass/_form.scss */
fieldset label {
  display: block;
  margin: 0px;
  margin-top: 1em;
}

/* line 29, ../../../../../sass/sass/_form.scss */
fieldset label > span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  color: #888;
}

/* line 37, ../../../../../sass/sass/_form.scss */
fieldset input[type="text"], fieldset input[type="email"], fieldset textarea, fieldset select {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 0px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

/* line 53, ../../../../../sass/sass/_form.scss */
fieldset textarea {
  padding: 5px 3px 3px 5px;
}

/* line 56, ../../../../../sass/sass/_form.scss */
fieldset select {
  background: #FFF url("down-arrow.png") no-repeat right;
  background: #FFF url("down-arrow.png") no-repeat right;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  line-height: 25px;
}

/* line 68, ../../../../../sass/sass/_form.scss */
fieldset textarea {
  height: 100px;
}

/* line 71, ../../../../../sass/sass/_form.scss */
fieldset .button {
  background: #E27575;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #FFF;
  box-shadow: 1px 1px 5px #B6B6B6;
  border-radius: 3px;
  text-shadow: 1px 1px 1px #9E3F3F;
  cursor: pointer;
}

/* line 81, ../../../../../sass/sass/_form.scss */
fieldset .button:hover {
  background: #CF7A7A;
}

/* line 84, ../../../../../sass/sass/_form.scss */
fieldset .form_error {
  font-style: italic;
  color: red;
}

/* line 88, ../../../../../sass/sass/_form.scss */
.form_success {
  text-align: center;
  padding: 1em;
  margin: 0.5em 0;
  color: #fff;
  background: green;
  border: 1px solid lightgreen;
}

/* line 18, ../../../../../sass/sass/theme.scss */
img {
  max-width: 100%;
}

/* line 22, ../../../../../sass/sass/theme.scss */
body {
  font-family: "Lato","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

/* line 26, ../../../../../sass/sass/theme.scss */
.main-bg {
  background-image: url("/images/main-bg-mobile.jpg");
  background-position: center bottom;
  min-height: 750px;
  background-size: cover;
  position: relative;
}

/* line 33, ../../../../../sass/sass/theme.scss */
.flexcontainer > div {
  text-align: center;
}

/* line 36, ../../../../../sass/sass/theme.scss */
.logokoba {
  margin: 1.5em 0;
  max-width: 150px;
}

/* line 40, ../../../../../sass/sass/theme.scss */
.treatyourself {
  margin: 3em 0 3em;
  padding-right: 5%;
  float: none;
}

/* line 46, ../../../../../sass/sass/theme.scss */
.headtime {
  display: inline-block;
  text-indent: 2em;
  line-height: 0.75em;
  font-weight: 300;
  font-size: 22px;
  font-size: 1.375rem;
  text-align: left;
  color: #69676a;
  margin: 3em 0;
}
/* line 56, ../../../../../sass/sass/theme.scss */
.headtime__year {
  color: #bc9118;
  font-size: 88px;
  font-size: 5.5rem;
  font-weight: 100;
  line-height: 0.75em;
}

/* line 64, ../../../../../sass/sass/theme.scss */
.choice_label {
  padding-bottom: 80%;
  background: orange;
  background-size: cover;
}

/* line 69, ../../../../../sass/sass/theme.scss */
.choice_label:hover {
  background-position: 0 100%;
}

/* line 73, ../../../../../sass/sass/theme.scss */
img.vousetes {
  position: absolute;
  left: 50%;
  margin-left: -118px;
  top: 50%;
  margin-top: -36px;
}

/* line 81, ../../../../../sass/sass/theme.scss */
img.ou {
  display: none;
}

/* line 84, ../../../../../sass/sass/theme.scss */
.scroller {
  position: absolute;
  bottom: 32px;
  left: 50%;
  margin-left: -13px;
  -webkit-transition: margin 1s ease;
  /* Safari */
  transition: margin 1s ease;
}
/* line 91, ../../../../../sass/sass/theme.scss */
.scroller:hover {
  margin-bottom: -16px;
}

/* line 96, ../../../../../sass/sass/theme.scss */
input.hidden[type="radio"] {
  display: none;
}

/* line 99, ../../../../../sass/sass/theme.scss */
input[type="radio"]:checked + label {
  background-position: 0 100%;
}

/* line 101, ../../../../../sass/sass/theme.scss */
.reponse-block {
  overflow: hidden;
  position: relative;
}

/* line 106, ../../../../../sass/sass/theme.scss */
.reponse-list {
  width: 500%;
}

/* line 110, ../../../../../sass/sass/theme.scss */
.reponse-item {
  width: 20%;
  float: left;
  -webkit-transition: margin 1s ease;
  /* Safari */
  transition: margin 1s ease;
}

/* line 116, ../../../../../sass/sass/theme.scss */
#slider-bar {
  position: absolute;
  bottom: 24px;
  width: 100%;
}

/* line 121, ../../../../../sass/sass/theme.scss */
.slide-bar-list {
  list-style: none;
  text-align: center;
  width: 100%;
}

/* line 126, ../../../../../sass/sass/theme.scss */
.slide-puce {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: url("/images/puce-slide.png");
}
/* line 131, ../../../../../sass/sass/theme.scss */
.slide-puce.done {
  background-position: 0 100%;
}

/* line 137, ../../../../../sass/sass/theme.scss */
.js-slide-label, .js-slide-bar-btn {
  cursor: pointer;
}

/* line 142, ../../../../../sass/sass/theme.scss */
.profil {
  background: #E4E4E4;
}
/* line 145, ../../../../../sass/sass/theme.scss */
.profil-form-block {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  padding: 2em;
}
/* line 152, ../../../../../sass/sass/theme.scss */
.profil-form-block > div {
  padding: 0.5em;
  flex: 1;
  display: block;
}
/* line 157, ../../../../../sass/sass/theme.scss */
.profil-form-block > div.flex-0 {
  flex: 0;
}
/* line 162, ../../../../../sass/sass/theme.scss */
.profil__intro {
  color: #69676a;
  font-size: 22px;
  font-size: 1.375rem;
  text-align: center;
  padding: 2em;
  border-bottom: 1px solid #ffffff;
}
/* line 169, ../../../../../sass/sass/theme.scss */
.profil__intro > span {
  color: #bc9118;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 177, ../../../../../sass/sass/theme.scss */
.profil .adresse input {
  display: inline;
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 181, ../../../../../sass/sass/theme.scss */
.profil input {
  width: 100%;
  text-align: center;
  font-size: 26px;
  font-size: 1.625rem;
  border: none;
  border-bottom: 1px dashed #69676a;
  background: none;
  margin: 0 0 0.5rem;
}
/* line 190, ../../../../../sass/sass/theme.scss */
.profil input.shiny {
  font-weight: 700;
  color: #bc9118;
}
/* line 195, ../../../../../sass/sass/theme.scss */
.profil input[readonly="readonly"] {
  border: none;
  text-align: center;
}

/* line 200, ../../../../../sass/sass/theme.scss */
.adresse-city {
  width: 100%;
}
/* line 202, ../../../../../sass/sass/theme.scss */
.adresse-city input {
  width: auto;
  text-align: left;
}

/* line 207, ../../../../../sass/sass/theme.scss */
#reponses_people_codepostal {
  width: 49.5%;
  text-align: right;
}

/* line 211, ../../../../../sass/sass/theme.scss */
#reponses_people_ville {
  width: 49.5%;
  text-align: left;
}

/* line 217, ../../../../../sass/sass/theme.scss */
#reponses_save, #voeux_propose_save {
  background: #bc9118;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  text-align: center;
  width: 100%;
  padding: 1em;
  color: #ffffff;
}

/* line 229, ../../../../../sass/sass/theme.scss */
.remercie_1 {
  display: inline-block;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #bc9118;
  line-height: 1.3em;
  margin-bottom: 0.25em;
}

/* line 239, ../../../../../sass/sass/theme.scss */
.remercie_2 {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
  color: #69676a;
  line-height: 1.3em;
}

/* line 247, ../../../../../sass/sass/theme.scss */
.remercie_3 {
  display: inline-block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  color: #bc9118;
  line-height: 1.3em;
  margin-bottom: 1.5em;
}

/* line 256, ../../../../../sass/sass/theme.scss */
.remercie_4 {
  display: inline-block;
  font-size: 28px;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #69676a;
  line-height: 1.3em;
}

/* line 265, ../../../../../sass/sass/theme.scss */
.remercie_5 {
  display: inline-block;
  font-size: 28px;
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #bc9118;
  line-height: 1.3em;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 800px) {
  /* line 277, ../../../../../sass/sass/theme.scss */
  .main-bg {
    background-image: url("/images/main-bg.jpg");
    background-position: center top;
    background-size: 100% auto;
    min-height: 0;
  }

  /* line 283, ../../../../../sass/sass/theme.scss */
  .main-bg:before {
    padding-bottom: 60.9%;
    content: " ";
    display: block;
  }

  /* line 288, ../../../../../sass/sass/theme.scss */
  .flexcontainer {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: flex;
    align-items: center;
  }

  /* line 297, ../../../../../sass/sass/theme.scss */
  .logokoba {
    padding-left: 5%;
    max-width: 210px;
  }

  /* line 301, ../../../../../sass/sass/theme.scss */
  .choice_label {
    padding-bottom: 40%;
  }

  /* line 305, ../../../../../sass/sass/theme.scss */
  img.vousetes {
    position: absolute;
    left: 50%;
    margin-left: -118px;
    top: 7%;
    margin-top: 0;
  }

  /* line 312, ../../../../../sass/sass/theme.scss */
  img.ou {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -10px;
  }

  /* line 324, ../../../../../sass/sass/theme.scss */
  .profil-form-block {
    border-bottom: none;
    flex-direction: row;
    align-items: flex-start;
  }
  /* line 329, ../../../../../sass/sass/theme.scss */
  .profil__intro {
    border-bottom: none;
  }
  /* line 332, ../../../../../sass/sass/theme.scss */
  .profil input {
    text-align: left;
  }
  /* line 335, ../../../../../sass/sass/theme.scss */
  .profil input[readonly="readonly"] {
    text-align: left;
  }

  /* line 339, ../../../../../sass/sass/theme.scss */
  #reponses_people_codepostal {
    width: 3.3em;
    text-align: left;
  }

  /* line 343, ../../../../../sass/sass/theme.scss */
  #reponses_people_ville {
    width: calc(100% - 3.5em);
    text-align: left;
  }

  /* line 347, ../../../../../sass/sass/theme.scss */
  .flexcontainer .remercie {
    text-align: left;
    margin-top: 25em;
  }
}
/* line 353, ../../../../../sass/sass/theme.scss */
strong {
  font-weight: 700;
}

/* line 357, ../../../../../sass/sass/theme.scss */
#voeux_propose_people_ismale {
  line-height: 30px;
}

/* line 360, ../../../../../sass/sass/theme.scss */
#voeux_propose_people_ismale label {
  display: inline-block;
  margin: 0 0.75em 0 0.25em;
}

/* line 364, ../../../../../sass/sass/theme.scss */
#voeux_propose_ContenuMail .admin_choice {
  min-height: 84px;
}

/* line 367, ../../../../../sass/sass/theme.scss */
#voeux_propose_questionnaire .admin_choice {
  min-height: 180px;
}

/* line 370, ../../../../../sass/sass/theme.scss */
.admin_choice {
  padding: 1em;
}

/* line 374, ../../../../../sass/sass/theme.scss */
.admin_choice:hover {
  border: 1px solid #bc9118;
}

/* line 378, ../../../../../sass/sass/theme.scss */
input[type="radio"]:checked + label.admin_choice {
  background: #bc9118;
  color: #ffffff;
  text-shadow: none;
}

/* line 383, ../../../../../sass/sass/theme.scss */
.choix__item {
  text-align: center;
}
