/* line 1, ../../../../../sass/sass/xggrid.scss */
*, *::before, *::after {
  box-sizing: border-box;
}

/* line 5, ../../../../../sass/sass/xggrid.scss */
.row::after {
  clear: both;
}

/* line 8, ../../../../../sass/sass/xggrid.scss */
.row::before, .row::after {
  content: " ";
  display: table;
}

/* line 13, ../../../../../sass/sass/xggrid.scss */
.wrapper {
  max-width: 72em;
  margin: 0 auto;
}

/* line 18, ../../../../../sass/sass/xggrid.scss */
.sm-1 {
  width: 8.33%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 19, ../../../../../sass/sass/xggrid.scss */
.sm-2 {
  width: 16.66%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 20, ../../../../../sass/sass/xggrid.scss */
.sm-3 {
  width: 25%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 21, ../../../../../sass/sass/xggrid.scss */
.sm-4 {
  width: 33.33%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 22, ../../../../../sass/sass/xggrid.scss */
.sm-5 {
  width: 41.66%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 23, ../../../../../sass/sass/xggrid.scss */
.sm-6 {
  width: 50%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 24, ../../../../../sass/sass/xggrid.scss */
.sm-7 {
  width: 58.33%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 25, ../../../../../sass/sass/xggrid.scss */
.sm-8 {
  width: 66.66%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 26, ../../../../../sass/sass/xggrid.scss */
.sm-9 {
  width: 75%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 27, ../../../../../sass/sass/xggrid.scss */
.sm-10 {
  width: 83.33%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 28, ../../../../../sass/sass/xggrid.scss */
.sm-11 {
  width: 91.66%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 29, ../../../../../sass/sass/xggrid.scss */
.sm-12 {
  width: 100%;
  position: relative;
  float: left;
  padding: 0 0.5em;
}

/* line 31, ../../../../../sass/sass/xggrid.scss */
.sm-push-1 {
  left: 8.33%;
}

/* line 32, ../../../../../sass/sass/xggrid.scss */
.sm-push-2 {
  left: 16.66%;
}

/* line 33, ../../../../../sass/sass/xggrid.scss */
.sm-push-3 {
  left: 25%;
}

/* line 34, ../../../../../sass/sass/xggrid.scss */
.sm-push-4 {
  left: 33.33%;
}

/* line 35, ../../../../../sass/sass/xggrid.scss */
.sm-push-5 {
  left: 41.66%;
}

/* line 36, ../../../../../sass/sass/xggrid.scss */
.sm-push-6 {
  left: 50%;
}

/* line 37, ../../../../../sass/sass/xggrid.scss */
.sm-push-7 {
  left: 58.33%;
}

/* line 38, ../../../../../sass/sass/xggrid.scss */
.sm-push-8 {
  left: 66.66%;
}

/* line 39, ../../../../../sass/sass/xggrid.scss */
.sm-push-9 {
  left: 75%;
}

/* line 40, ../../../../../sass/sass/xggrid.scss */
.sm-push-10 {
  left: 83.33%;
}

/* line 41, ../../../../../sass/sass/xggrid.scss */
.sm-push-11 {
  left: 91.66%;
}

/* line 42, ../../../../../sass/sass/xggrid.scss */
.sm-push-12 {
  left: 100%;
}

/* line 44, ../../../../../sass/sass/xggrid.scss */
.sm-offset-1 {
  margin-left: 8.33%;
}

/* line 45, ../../../../../sass/sass/xggrid.scss */
.sm-offset-2 {
  margin-left: 16.66%;
}

/* line 46, ../../../../../sass/sass/xggrid.scss */
.sm-offset-3 {
  margin-left: 25%;
}

/* line 47, ../../../../../sass/sass/xggrid.scss */
.sm-offset-4 {
  margin-left: 33.33%;
}

/* line 48, ../../../../../sass/sass/xggrid.scss */
.sm-offset-5 {
  margin-left: 41.66%;
}

/* line 49, ../../../../../sass/sass/xggrid.scss */
.sm-offset-6 {
  margin-left: 50%;
}

/* line 50, ../../../../../sass/sass/xggrid.scss */
.sm-offset-7 {
  margin-left: 58.33%;
}

/* line 51, ../../../../../sass/sass/xggrid.scss */
.sm-offset-8 {
  margin-left: 66.66%;
}

/* line 52, ../../../../../sass/sass/xggrid.scss */
.sm-offset-9 {
  margin-left: 75%;
}

/* line 53, ../../../../../sass/sass/xggrid.scss */
.sm-offset-10 {
  margin-left: 83.33%;
}

/* line 54, ../../../../../sass/sass/xggrid.scss */
.sm-offset-11 {
  margin-left: 91.66%;
}

/* line 55, ../../../../../sass/sass/xggrid.scss */
.sm-offset-12 {
  margin-left: 100%;
}
