{% extends "AppBundle::layoutFin.html.twig" %}

{% block body %}
    <div class="wrapper">			
            <div class="wrapper_item wrapper_item--bottom">
                    <a href="http://www.koba.com/index.php" target="_blank"><img src="{{ asset('images/img_02.png') }}" class="logo"></a>
                    <p>Vous souhaite<br />
                            <span>une année pleine de plaisirs !</span>
                    </p>
            </div>
            <div class="wrapper_item wrapper_item--top">
                    <img src="{{ asset('images/img_01.png') }}">
            </div>

    </div>
{% endblock %}
