{# src/AppBundle/Resources/views/Admin/index.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <header>
		
    </header>
    
    <section>
		MERCI		
	</section>
	

{% endblock %}
