{# src/AppBundle/Resources/views/Admin/index.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block body %}
    <section class="row main-bg">
		<div class="flexcontainer">
			<div class="sm-12 md-3 lg-2 lg-push-1">
                            <img src="{{ asset('images/koba-logo.png') }}"  alt="Logo Koba" class="logokoba" />			
			</div>
			<div class="sm-12 md-4 md-push-1">
				<p class="headtime">En <br/><span class="headtime__year">2016</span></p>
			</div>
			<div class="sm-12 md-4 md-push-1">
                            <img src="{{ asset('images/faitesvousplaisir.png') }}"  alt="Faîtes vous plaisir" class="sm-9 md-11 treatyourself" />				
			</div>
			
		</div>
		<div class="flexcontainer">
			<div class="remercie sm-12 md-4 md-push-5 lg-push-4">
				<p>
					<span class="remercie_1">Merci,</span><br/>
					<span class="remercie_2">Nous avons bien recu</span><br/>
					<span class="remercie_3">vos informations</span>
				</p>
				<p>
					<span class="remercie_4">Rendez-vous en</span><br/>
					<span class="remercie_5">début d'année 2016 !</span>
				</p>
			</div>
		</div>
    </section>
	

{% endblock %}
